In this problem, I will predict the Yelp ratings (good or bad),in the review text. Used only those reviewswhich have either a 5 star or 1 star rating(for good or bad binary classification). Rest of the reviews with 2,3 or 4 ratings can be removed from the data.

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv("/content/yelp.csv")

In [ ]:
df.head()

,business_id,date,review_id,stars,text,type,user_id,cool,useful,funny
0,9yKzy9PApeiPPOUJEtnvkg,2011-01-26,fWKvX83p0-ka4JS3dc6E5A,5,My wife took me here on my birthday for breakf...,review,rLtl8ZkDX5vH5nAx9C3q5Q,2,5,0
1,ZRJwVLyzEJq1VAihDhYiow,2011-07-27,IjZ33sJrzXqU-0X6U8NwyA,5,I have no idea why some people give bad review...,review,0a2KyEL0d3Yb1V6aivbIuQ,0,0,0
2,6oRAC4uyJCsJl1X0WZpVSA,2012-06-14,IESLBzqUCLdSzSqm0eCSxQ,4,love the gyro plate. Rice is so good and I als...,review,0hT2KtfLiobPvh6cDC8JQg,0,1,0
3,_1QQZuf4zZOyFCvXc0o6Vg,2010-05-27,G-WvGaISbqqaMHlNnByodA,5,"Rosie, Dakota, and I LOVE Chaparral Dog Park!!...",review,uZetl9T0NcROGOyFfughhg,1,2,0
4,6ozycU1RpktNG2-1BroVtw,2012-01-05,1uJFq2r5QfJG_6ExMRCaGw,5,General Manager Scott Petello is a good egg!!!...,review,vYmM4KTsC8ZfQBg-j5MWkw,0,0,0

In [ ]:
df=df[["text","stars"]]
df.head()

                                                text  stars
0  My wife took me here on my birthday for breakf...      5
1  I have no idea why some people give bad review...      5
2  love the gyro plate. Rice is so good and I als...      4
3  Rosie, Dakota, and I LOVE Chaparral Dog Park!!...      5
4  General Manager Scott Petello is a good egg!!!...      5

In [ ]:
df=df[(df["stars"]==1) | (df["stars"]==5)]

In [ ]:
df.head()

                                                text  stars
0  My wife took me here on my birthday for breakf...      5
1  I have no idea why some people give bad review...      5
3  Rosie, Dakota, and I LOVE Chaparral Dog Park!!...      5
4  General Manager Scott Petello is a good egg!!!...      5
6  Drop what you're doing and drive here. After I...      5

In [ ]:
df.stars.value_counts()

5    3337
1     749
Name: stars, dtype: int64

In [ ]:
X=df.text
y=df.stars
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=123, test_size=0.3)

In [ ]:
from sklearn.feature_extraction.text import CountVectorizer,TfidfVectorizer
vect = CountVectorizer()
X_train_dtm = vect.fit_transform(X_train)
X_test_dtm = vect.transform(X_test)

In [ ]:
from sklearn.preprocessing import StandardScaler
ss = StandardScaler(with_mean=False)
X_train_scaled = ss.fit_transform(X_train_dtm)
X_test_scaled = ss.transform(X_test_dtm)

In [ ]:
from sklearn.neural_network import MLPClassifier
nncl = MLPClassifier(hidden_layer_sizes=(100,),
                    max_iter = 5000,
                    solver = 'sgd',
                    activation = 'logistic',
                    random_state = 1,
                    verbose=True,
                    tol = 0.01,
                    batch_size=20,
                    learning_rate = 'adaptive',
                    learning_rate_init= 0.01)

In [ ]:

nncl.fit(X_train_scaled,y_train)

Iteration 1, loss = 0.38272618
Iteration 2, loss = 0.06463445
Iteration 3, loss = 0.03033387
Iteration 4, loss = 0.02061988
Iteration 5, loss = 0.01607460
Iteration 6, loss = 0.01310481
Iteration 7, loss = 0.01125903
Iteration 8, loss = 0.00985080
Iteration 9, loss = 0.00887627
Iteration 10, loss = 0.00797339
Iteration 11, loss = 0.00735461
Iteration 12, loss = 0.00682370
Iteration 13, loss = 0.00637425
Iteration 14, loss = 0.00601802
Training loss did not improve more than tol=0.010000 for 10 consecutive epochs. Setting learning rate to 0.002000
Iteration 15, loss = 0.00568384
Iteration 16, loss = 0.00561499
Iteration 17, loss = 0.00555958
Iteration 18, loss = 0.00550292
Iteration 19, loss = 0.00545380
Iteration 20, loss = 0.00539417
Iteration 21, loss = 0.00534608
Iteration 22, loss = 0.00530012
Iteration 23, loss = 0.00524444
Iteration 24, loss = 0.00519678
Iteration 25, loss = 0.00514905
Training loss did not improve more than tol=0.010000 for 10 consecutive epochs. Setting learning rate to 0.000400
Iteration 26, loss = 0.00510103
Iteration 27, loss = 0.00509105
Iteration 28, loss = 0.00508282
Iteration 29, loss = 0.00507269
Iteration 30, loss = 0.00506358
Iteration 31, loss = 0.00505610
Iteration 32, loss = 0.00504665
Iteration 33, loss = 0.00503819
Iteration 34, loss = 0.00502993
Iteration 35, loss = 0.00502226
Iteration 36, loss = 0.00501154
Training loss did not improve more than tol=0.010000 for 10 consecutive epochs. Setting learning rate to 0.000080
Iteration 37, loss = 0.00500222
Iteration 38, loss = 0.00500064
Iteration 39, loss = 0.00499928
Iteration 40, loss = 0.00499751
Iteration 41, loss = 0.00499542
Iteration 42, loss = 0.00499381
Iteration 43, loss = 0.00499195
Iteration 44, loss = 0.00499074
Iteration 45, loss = 0.00498861
Iteration 46, loss = 0.00498698
Iteration 47, loss = 0.00498513
Training loss did not improve more than tol=0.010000 for 10 consecutive epochs. Setting learning rate to 0.000016
Iteration 48, loss = 0.00498335
Iteration 49, loss = 0.00498307
Iteration 50, loss = 0.00498277
Iteration 51, loss = 0.00498232
Iteration 52, loss = 0.00498202
Iteration 53, loss = 0.00498166
Iteration 54, loss = 0.00498133
Iteration 55, loss = 0.00498107
Iteration 56, loss = 0.00498068
Iteration 57, loss = 0.00498034
Iteration 58, loss = 0.00498000
Training loss did not improve more than tol=0.010000 for 10 consecutive epochs. Setting learning rate to 0.000003
Iteration 59, loss = 0.00497958
Iteration 60, loss = 0.00497952
Iteration 61, loss = 0.00497945
Iteration 62, loss = 0.00497940
Iteration 63, loss = 0.00497932
Iteration 64, loss = 0.00497925
Iteration 65, loss = 0.00497919
Iteration 66, loss = 0.00497912
Iteration 67, loss = 0.00497906
Iteration 68, loss = 0.00497898
Iteration 69, loss = 0.00497892
Training loss did not improve more than tol=0.010000 for 10 consecutive epochs. Setting learning rate to 0.000001
Iteration 70, loss = 0.00497884
Iteration 71, loss = 0.00497883
Iteration 72, loss = 0.00497881
Iteration 73, loss = 0.00497880
Iteration 74, loss = 0.00497878
Iteration 75, loss = 0.00497878
Iteration 76, loss = 0.00497876
Iteration 77, loss = 0.00497874
Iteration 78, loss = 0.00497873
Iteration 79, loss = 0.00497872
Iteration 80, loss = 0.00497870
Training loss did not improve more than tol=0.010000 for 10 consecutive epochs. Learning rate too small. Stopping.

MLPClassifier(activation='logistic', batch_size=20, learning_rate='adaptive',
              learning_rate_init=0.01, max_iter=5000, random_state=1,
              solver='sgd', tol=0.01, verbose=True)

In [ ]:
nncl.score(X_train_scaled,y_train)

0.9989510489510489

In [ ]:
nncl.score(X_test_scaled,y_test)

0.9127243066884176

In [ ]:
from sklearn.metrics import classification_report

In [ ]:
y_pred_train = nncl.predict(X_train_scaled)
y_pred_test = nncl.predict(X_test_scaled)

print(classification_report(y_train,y_pred_train))
print(classification_report(y_test,y_pred_test))

              precision    recall  f1-score   support

           1       1.00      0.99      1.00       518
           5       1.00      1.00      1.00      2342

    accuracy                           1.00      2860
   macro avg       1.00      1.00      1.00      2860
weighted avg       1.00      1.00      1.00      2860

              precision    recall  f1-score   support

           1       0.94      0.57      0.71       231
           5       0.91      0.99      0.95       995

    accuracy                           0.91      1226
   macro avg       0.93      0.78      0.83      1226
weighted avg       0.92      0.91      0.90      1226

Train accuracy 99%
Test accuracy 91%

# Thank You , Rudhra !